#main {
  float: left;
  width: 100%;
  position: relative;
}

#sequence {
  width: 80%;
  position: relative;
  height: 70px;
}

#sequence text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: relative;
  top: 50%;
  left: 35%;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}
